@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #F5ECD7;
    --foreground: #353535;
    --green-light: #8FBF9F;
    --green-semilight: #68a67d;
    --green-dark: #24613b;
    --orange: #F18F01;
    --brown: #833500;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-alice), serif;
}

.playfair-font {
  font-family: var(--font-playfair-display), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}