@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #050211;
	--background-alt: #0a041a;
	--text-primary: #e6e0ff;
	--text-secondary: #a6a0c0;
	--highlight: #8a4fff;
	--highlight-hover: #a871ff;
	--low-contrast: #1e1a29;
	--warning: #ff4d5d;
	--success: #2ecc71;
	--info: #4d9fff;
}

body {
	color: var(--foreground);
	background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-oxanium);
	color: var(--text-primary);
}

p,
span,
a,
button {
	font-family: var(--font-source_sans_3);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.border-on-top-green {
		position: relative;
		display: inline-block;
	}

	.border-on-top-green::before {
		content: "";
		position: absolute;
		bottom: 10px; /* Adjust this value to position the line */
		left: 0;
		width: 100%;
		height: 30px; /* Height of the border */
		z-index: -1;
		background-color: var(--secondary-green); /* Color of the border */
	}

	.border-on-top-purple {
		position: relative;
		display: inline-block;
	}

	.border-on-top-purple::before {
		content: "";
		position: absolute;
		bottom: 10px; /* Adjust this value to position the line */
		left: 0;
		width: 100%;
		height: 30px; /* Height of the border */
		z-index: -1;
		background-color: var(--secondary-purple); /* Color of the border */
	}
}
